__pycache__/
.idea
*scratch*
data/*
*.DS_Store
*.RData
*.Rhistory
venv
analysis/*
setup/*
output/*
slurm_logs/*
run_ablation.sh
run_analysis.sh
/notebooks/report/
/notebooks/data_stash/
/notebooks/tiffs/
/notebooks/.ipynb_checkpoints/
